.browse-events-img {
  height: 100px;
  weight: 177px;
}

.browse-events-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
}

.event-browse-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  border: solid gray 1px;
  background-color: white;
  margin-top: 36px;
  height: 135px;
  width: 675px;
}

.browse-event-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.browse-event-placeholder {
  width: 20px;
}

.browse-event-time-date {
  font-size: 12px;
  font-weight: bold;
}
