.browse-events-img {
  height: 110px;
  width: 187px;
}

.browse-events-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  flex-wrap: wrap;
}

.event-browse-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  border: solid #DFDFE1 1px;
  background-color: white;
  margin-top: 26px;
  height: 110px;
  width: 675px;
}

.browse-event-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.browse-event-placeholder {
  width: 20px;
}

.browse-event-time-date {
  font-size: 12px;
  font-weight: bold;
}

.categories-google-maps-browse {
  width: 16%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 25px;
  background-color: white;
  border: 1px solid #DFDFE1;
  height: 1093px;
}

.browse-category-list {
  color: blue;
  font-size: 12px;
  margin: 10px;
  list-style: none;
}
.browse-page-outer-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #F8F8FA;
  min-height: 1500px;
}

.categories-header {
  color: #464A4F;
  font-size: 20px;
  font-weight: 100;
  word-wrap: break-word;
  margin-left: 10px;
  margin-bottom: 10px;
}
.category-button {
  cursor: pointer;
}

.browse-event-title {
  font-weight: bold;
  margin: 12px 0px 5px 0;
  font-size: 17px;
  width: 300px;
  word-wrap: break-word;
}

.indent {
  height: 11px;
}

.space {
  margin-left: 5px;
}

.event-browse-venue {
  margin-top: 20px;
  color: #BBBCC0;
}

.event-browse-map-error {
  margin-top: 26px;
  margin-left: 18%;
  color: red;
}

.browse-event-city-select {
  max-width: 58%;
  margin-left: 14%;
  height: 65%;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 3%;
  font-weight: lighter;
  padding-left: 40px;
}

.browse-event-city-select:focus {
  outline: none;
  border:1px solid #39C2C9;
}

.browse-event-search-bar-container {
  position: relative;
  height: 7%;
}

.fa-map-marker-search-bar {
  content: "\f041";
  position: absolute;
  bottom: 40%;
  left: 17%;
  font-size: 270% !important;
  color: #D2D6DF;
}

.fa-map-marker-search-bar:hover {
  cursor: pointer;
  color: #39C2C9;
}
