.event-show-outer-container {
  background-color: #F8F8FA;
  display: flex;
  justify-content: center;
}

.event-show-inner-container {
  margin-top: 50px;
  background-color: white;
  justify-content: flex-start;
  width: 65%;
  border-radius: 10px;
  flex-direction: column;
}

.temp-img {
  border-radius: 3px;
}

.event-pic-title {
  background-color: #F8F8FA;
  display: flex;
}

.event-title-date {
  margin-left: 30px;
  margin-top: 20px;
  justify-content: space-between;
}
.event-title-date-item-1{
  font-size: 15px;
  font-weight: normal;
  line-height: 1.25em;
  letter-spacing: 1px;
  color: #515459;
  margin: 5px;
}

.event-title-date-item-2{
  font-size: 23px;
  font-weight: normal;
  line-height: 1.25em;
  letter-spacing: 1px;
  color: #515459;
  margin: 5px;
}

.event-title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
}

.event-author {
  color: #515459;
  font-size: 20px;
  font-weight: 100;
  margin-left: 30px;
  margin-top: 30px;
}

.event-show-ticket-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
      height: 136px;
}

.tickets-bookmarks-bar {
  height: 61px;
  display: flex;
  justify-content: flex-end;
  border-top: solid #D2D6DF 1px;
  border-bottom: solid #D2D6DF 1px;
}

.tickets-button {
  margin-top: 2%;
  margin-right: 15px;
  padding: 10px;
  padding-left: 160px;
  padding-right: 160px;
  background-color: #09C444;
  border-radius: 6px;
  color: white;
  font-size: 20px;
}

.tickets-bar-button-container {
  justify-content: flex-end;
}

.event-show-description-info-container {
  display: flex;
  justify-content: space-between;
}

.space-container {

}

.description-container {

}

.info-container {

}

.event-time-date {

}

.event-location {
  display: flex;
  flex-direction: column;
}

.event-title-location {
  font-size: 20px;
}

.event-show-time-date {

}
