.homepage-outer-container {
  display: flex;
  justify-content: center;
  background-color: #F8F8FA;
}

.homepage-events {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  width: 1095px;
}

.homepage-event-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


.events-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

//homepae_index_item

.event-index-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  border: solid #DFDFE1 1px;
  background-color: white;
  margin-top: 36px;
  height: 285px;
}

.homepage-events-img {
  height: 170px;
  width: 340px;
}

.homepage-event-date-time {
  // margin-left: 20px;
  // margin-bottom: 6px;
  margin: 5px 0 6px 20px;
  color: #74777A;
}

.home-event-item {
  font-size: 15px;
  margin: 5px 5px 5px 0;
  font-weight: 100;
}

.home-event-title {
  font-weight: bold;
  margin: 0 5px 5px 20px;
  font-size: 17px;
  width: 300px;
  word-wrap: break-word;
}

.homepage-event-address {
  margin: 9px 3px 1px 20px;
  font-size: 14px;
  font-weight: 100;
  color: #70737C;
}

.homepage-address {
  margin-right: 5px;
}

.center-heading {
  display: flex;
  justify-content: center;
  background-color: #F8F8FA;
  height: 20px;
  text-align: justify;

}

.splash-image {
  height: 500px;
  width: 2000px;
}

.vertical-spacing {
  height: 20px;
  background-color: #F8F8FA;
}

.footer {
  height: 300px;
  background-color: #F8F8FA;
}
