.ticket-event-title {
  font-weight: bold;
  margin-left: 10px;
  font-size: 17px;
  width: 300px;
  word-wrap: break-word;
}

.ticket-event-item {
  margin-left: 10px;
}

.ticket_event_item {
  margin-top: 5px;
  margin-left: 10px;
}

.title-event-placeholder {
  height: 20px;
}

.title-indent {
  weight: 20px;
  margin-left: 10px;
}

.event-ticket-venue {
  margin-top: 20px;
  color: #BBBCC0;
  margin-left: 10px;
}

.categories-google-maps-browse-dashboard {
  width: 250px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 25px;
  background-color: white;
  border: 1px solid #DFDFE1;
  height: 170px;
}
