// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories-header-dashboard {
  width: 250px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 25px;
    background-color: white;
    border: 1px solid #DFDFE1;
    height: 250px;
}
